.loginButton{
    display: flex;
    justify-content: flex-end;
    margin: 20px;
    cursor: pointer;
}

.loginIcon{
    margin-right: 6px;
    margin-top: 2px;
}

.navSection{
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.menuArea{
    display: flex;
    justify-content: center;
    margin: 15px 0px;
}

.manuList{
    display: flex;
    list-style-type: none;
}

.manuList li{
    padding: 10px;
}

.searchBox{
    position: absolute;
    right: 20px;
}

input:focus{
    outline: none;
}

.searchtext{
    margin-left: 8px;
    border: none;
    border-bottom: 1px solid gray;
}

.imgCardBox img {
    transition: all 0.2s linear;
    width: 100%;
  }

  .imgCardBox:hover img {
    transform: scale(1.2);
  }

.LoginformBox{
    width: 500px;
    margin: auto;
    margin-top: 30px;
}

.productImg{
    display: flex;
    justify-content: flex-end;
}

.DetailDropdown{
    background-color: white !important;
    border: 1px solid grey !important;
    color:rgb(59, 51, 51) !important;
    font-weight: 600 !important;
    margin: 10px 0px;
    font-size: 15px !important;
    height: 30px;
    line-height: 15px !important;
}

.priceTextStyle{
    margin: 10px 0px;
}

.titleTextStyle{
    font-weight: 600;
}

.addbuttonStyle{
    margin: 5px 0px;
    width: 100%;
    height: 30px;
    line-height: 15px !important;
    border-radius: 2px !important;
}